.loading-icon {
    margin: 20px;
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  
  .dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #007bff; /* Change the color as needed */
    border-radius: 50%;
    position: absolute;
    animation: bounce 1s infinite;
  }
  
  .dot1 {
    left: 0;
  }
  
  .dot2 {
    left: 0.75rem;
    animation-delay: 0.2s;
  }
  
  .dot3 {
    left: 1.5rem;
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.75rem);
    }
  }
  